.pageContainer {
  background-color: var(--color-cloud);
  font-family: var(--font-primary);
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}
