@font-face {
  font-family: "Omnes";
  src: url("../assets/fonts/omnes-2/Omnes Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-primary: "inter", sans-serif;
  --font-omnes: "Omnes", sans-serif;
}
