.infoPage {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  padding: 60px 16px;
  gap: 36px;
  font-family: var(--font-omnes);
  position: relative;
  padding-top: 64px;
}

.infoPageHeader {
  font-family: var(--font-omnes);
  font-weight: 600;
  font-size: 48px;
  line-height: 44px;
  letter-spacing: -2%;
  color: var(--color-ocean);
}

.infoPageContent {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.homeButton {
  position: absolute;
  bottom: 16px;
  right: 16px;
}

.detailHeader {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 16px;
}

.backButton {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.detailTitle {
  font-family: var(--font-omnes);
  color: var(--color-ocean);
  font-weight: 700;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: -2%;
  text-align: center;
}

.detailContent {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

.detailContent h2 {
  color: var(--color-ocean);
  margin-bottom: 15px;
  font-family: Inter;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  font-family: var(--font-primary);
}

.detailText {
  color: #333;
  line-height: 1.5;
  font-family: var(--font-primary);
}
