.planButton {
  all: unset;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  padding: 1.25rem 1rem;
  border: 1.5px solid #ddd;
  border-radius: 10px;
  box-sizing: border-box;
  text-align: left;
  position: relative;
  transition: border 0.3s;
}

.planButton.selected {
  border-color: #000;
}

.planButton:hover {
  background-color: white;
}

.topRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.period,
.price {
  color: #111;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.checkCircle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  border: 2px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circleSelected {
  background-color: #000;
  border-color: #000;
}

.checkIcon {
  width: 14px;
  height: 14px;
}

.bottomRow {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.subPrice {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 0.9rem;
  color: #555;
  line-height: 1.2;
}

.subPriceText {
  font-size: 0.8rem;
  color: #999;
}
