.navBar {
  display: flex;
  flex-direction: row;
  gap: 60px;
  padding: 16px 64px;
  background-color: white;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 5vw;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 5px 8px 16px 0 rgba(21, 150, 209, 0.4);
}
