.map {
  min-height: 100dvh;
  width: 100%;
}

.trackerButton {
  position: absolute;
  width: 100px;
  height: 40px;
  bottom: 20px;
}

.customNav {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  z-index: 100;
}

.navButton {
  background-color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.profileButton {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.infoButton {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.emergencyButton {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.notificationButton {
  position: absolute;
  top: 20px;
  left: 80px;
  background-color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
