.map {
  height: 100dvh;
  width: 100%;
}

.trackerButtonContainer {
  position: absolute;
  bottom: 0px;
}

.trackerButton {
  width: 80px;
  height: 50px;
  border-radius: 8px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-primary);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  padding: 12px 20px;
  cursor: pointer;
  margin-bottom: 94px;
}

.trackerButtonStart {
  background-color: var(--color-ocean);
}

.trackerButtonStop {
  background-color: white;
  color: var(--color-ocean);
}

.customNav {
  position: absolute;
  top: 34px;
  right: 15px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  z-index: 100;
}

.navButton {
  cursor: pointer;
  margin-bottom: 5px;
  -webkit-tap-highlight-color: transparent;
}

.emergencyButton {
  top: 34px;
  left: 15px;
}

.notificationButton {
  top: 34px;
  left: 80px;
}

.generalButton {
  position: absolute;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.userLocationMarker {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #1da1f2;
  border: 3px solid white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
:global(.mapboxgl-popup-close-button) {
  color: var(--color-ocean);
  background: transparent;
  width: 24px;
  height: 24px;
  padding: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

:global(.mapboxgl-popup-content) {
  color: var(--color-ocean);
  border-radius: 8px;
  padding: 24px 28px;
  position: relative;
  animation: fadeIn 0.3s ease forwards;
  width: 90%;
}

:global(.mapboxgl-popup-content h3) {
  font-family: var(--font-primary);
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 600;
  color: var(--color-ocean);
}

:global(.mapboxgl-popup-content p) {
  font-family: var(--font-primary);
  opacity: 0.8;
  color: var(--color-ocean);
  font-size: 12px;
  line-height: 2;
  font-weight: 400;
}

:global(*:focus) {
  outline: none;
  box-shadow: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
