.notification {
  display: flex;
  align-items: center;
  border-radius: 8px;
  padding: 12px 12px;
  width: 70%;
  max-width: 400px;
  margin-bottom: 8px;
  animation: slideIn 0.3s ease-out;
  font-family: var(--font-primary);
  gap: 8px;
  margin-top: 16px;
}

.iconContainer {
  margin-right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.contentContainer {
  flex: 1;
}

.title {
  font-weight: 600;
  margin-bottom: 4px;
  font-size: 14px;
}

.message {
  font-size: 12px;
  opacity: 0.9;
}

.restriction {
  background-color: rgb(255, 241, 240);
}

.restrictionIcon {
  color: rgb(255, 77, 79);
}

.restrictionTitle {
  color: rgb(207, 19, 34);
}

.warning {
  background-color: rgb(255, 251, 230);
}

.warningIcon {
  color: rgb(250, 173, 20);
}

.warningTitle {
  color: rgb(212, 136, 6);
}

.info {
  background-color: rgb(230, 247, 255);
}

.infoIcon {
  color: rgb(24, 144, 255);
}

.infoTitle {
  color: rgb(9, 109, 217);
}
.distance {
  font-size: 12px;
  font-weight: 600;
}

@keyframes slideIn {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
