.authForm {
  width: 100%;
  z-index: 1000;
  background-color: white;
  padding: 40px 16px;
  border-radius: 40px 40px 0 0;
  font-family: var(--font-primary);
}

.authFormTitle {
  font-family: var(--font-primary);
  font-weight: 600;
  font-size: 48px;
  line-height: 44px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: white;
  z-index: 1000;
  margin-bottom: 24px;
  width: 100%;
  padding: 0 16px;
}

.formGroup {
  margin-bottom: 16px;
}

.formGroup label {
  display: block;
  margin-bottom: 6px;
  font-weight: 500;
  color: var(--color-ocean);
  line-height: 20px;
  letter-spacing: 0%;
}

.formGroup input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
  transition:
    border-color 0.2s,
    box-shadow 0.2s;
}

.formGroup input:focus {
  outline: none;
  border-color: #4a90e2;
  box-shadow: 0 0 5px rgba(74, 144, 226, 0.2);
}

.errorText {
  color: var(--color-red);
  font-size: 12px;
  margin-top: 5px;
}

.submitButton {
  display: block;
  margin: 30px auto 0;
}
