.authForm {
  width: 300px;
  margin: 50px auto;
}

.authForm h2 {
  text-align: center;
  margin-bottom: 24px;
  font-size: 2rem;
  color: #333;
}

.errorText {
  color: var(--color-red);
  font-size: 12px;
  margin-top: 5px;
}

.submitButton {
  display: block;
  margin: 30px auto 0;
}
