@import "./styles/variables.css";
@import "./styles/fonts.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  background-color: var(--color-ocean);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--color-sky);
}

/* ovo je globalno za sve stranice s formama */
.page-container {
  background-color: var(--color-cloud);
  font-family: var(--font-primary);
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}
