.container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.trialText {
  margin-top: 50px;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.plansContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  max-width: 600px;
}
