.container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  font-family: var(--font-primary);
}

.headline {
  margin-top: 50px;
  color: var(--color-ocean);
  font-size: 2rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.trialText {
  margin-top: 50px;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.plansContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  max-width: 500px;
}
