.boatPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.blueTopBackground {
  background: linear-gradient(180deg, #124374 0%, #112e4c 100%);
  min-width: 110vw;
  height: 25vh;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  z-index: 200;
}

.boatProfilePicture {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 18vh;
  width: 18vh;
  border-radius: 20px;
  box-shadow: 0px 1px 17.8px 0px #0000001a;
  position: absolute;
  top: 15vh;
  z-index: 1001;
}

.boatProfilePicture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-top: 20px;
}

.formWrapper {
  margin-top: 32px;
}

@media (max-height: 660px) {
  .blueTopBackground {
    height: 22vh;
  }
  .boatProfilePicture {
    top: 12vh;
  }

  .formWrapper {
    margin-top: 16px;
  }
}
@media (max-height: 620px) {
  .formWrapper {
    margin-top: 0px;
  }
  .blueTopBackground {
    height: 20vh;
  }
  .boatProfilePicture {
    top: 10vh;
  }
}
