.rowGroup {
  display: flex;
  gap: 1rem;
}

.inputWithPrefix {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  height: 36px;
}

.prefixBox {
  margin-left: 6px;
  display: flex;
  align-items: center;
  padding: 0 8px;
  background-color: white;
}

.prefixBox span {
  font-size: 14px;
  color: #555;
}

.separator {
  width: 1px;
  height: 100%;
  background-color: #ccc;
  margin-left: 12px;
}

.inputWithPrefix input {
  border: none;
  outline: none;
  padding: 0 10px;
  flex: 1;
  font-size: 14px;
  background-color: white;
}
